.footer{
    display: flex;
    justify-content: flex-end;
    background-color: #2d2e32;
    height: 150px;
    padding-top: 0px;
    margin-top: 0px;
}
.footer h3{
    text-align: left;
    margin: auto;
    position: absolute;
    left: 100px;
    padding-top: 50px;
}