/*  */

@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@480&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* font-family: 'Inter', sans-serif; */

*{
    font-family: 'Roboto', bold;
}

.landing{
  display: flex;
  height: 500px;
  background-color: #2d2e32;
  color: aliceblue;
}

.landingText span{
  font-size: 3em;
  padding-top: 260px;
  position: absolute;
  padding-left: 100px;
}

.landingText p{
  margin: auto;
  padding-top: 330px;
  padding-left: 100px;
}

.landing img{
  height: 500px;
  position: absolute;
  right: 5%;
}

.aboutme{
  height: 700px;
  background-color: #25262a;
  display: flex;
}
.uspbox{
  display: flexbox;
  padding-top: 3%;
}
.titleProjects h2{
  padding-left: 105px;
  padding-bottom: 0px;
}
.keybox{
  background-color: #2d2e32;
  width: 700px;
  height: 150px;
  margin-bottom: 2%;
  margin-left: 100px;
  border-radius: 5px;
}
.keybox h2{
  color: #46ba87;
  padding: 20px 0 0 35px;
}
.keybox span{
  padding: 0px 0 0 35px;
  font-weight: 660;
  font-size: 0.9em;
  text-decoration: underline;
  color: #5a5b5c;
 
}
.keybox p {
  padding: 0px 0 0 35px;
  font-weight: 760;
  font-size: 0.9em;
  padding-right: 3%;
  /* font-family: Roboto; */
}


*{
  color: white;
}
.aboutText{
  margin-right: 7%;
  margin-left: 4%;
  padding-top: 3.1%;
}

.aboutText h1{
  font-size: 1.5em;
}

.uspbuttonbox{
  display: flex;
  justify-content: space-between;
  width: 510px;
  position: absolute;
  left: 100px;
  top: 275px;
}
.uspButton:hover{
  cursor: pointer;
}

.uspButton{
  background-color: #4dba87;
  width: 160px;
  height: 35px;
  border-radius: 3px; 
  cursor: pointer;
}
.uspButton:hover{
  background-color: #28694b;
  cursor: pointer;
}

.uspbuttonbox{
  height: 35px;
  line-height: 35px;
  margin: auto;
  text-align: center;
  font-size: 1em;
  color: antiquewhite;

}

/* Projects */

.projects{
  height: 600px;
  width: 100%;
  background-color:#2d2e32;
  display: flex;
  justify-content: center;
}

.projects h1{
  text-align: center;
  margin: auto;
  margin-top: 0%;
  padding-top: 0px;
}
.projects img{
  mix-blend-mode: multiply;
  align-items: center;
  height: 200px;
  /* margin-left: 45%; */
}

.projectsGrid{
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin-top: 15%;
}
.projectid{
  padding-right: 30%;
  width: auto;
  width: 200px;
}

.keybox span:hover{
 cursor: pointer;
}
